<div class="modal fade currencyModal px-0" id="currencyModal" tabindex="-1" aria-labelledby="currencyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span>Change currency</span>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% form 'currency' %}
                {{ form | currency_selector }}
            {% endform %}
        </div>
      </div>
    </div>
  </div>