<section>
	<div class="sidebar">
		<div class="sidebar-menu">
			<ul class="menu-links mt-5">
				<a href="#">
                    <li>Home {% include 'icon-arrow-top.liquid' %} </li>
                </a>
                <a href="#">
                    <li>%Sale {% include 'icon-arrow-top.liquid' %} </li>
                </a>
                <a href="#">
                    <li>Catalogue {% include 'icon-arrow-top.liquid' %} </li>
                </a>
                <a href="#">
                    <li>LookBook {% include 'icon-arrow-top.liquid' %} </li>
                </a>
                <a href="#">
                    <li>Order a call {% include 'icon-arrow-top.liquid' %} </li>
                </a>
			</ul>
		</div>
        <div>
            <ul class="other-links mt-5">
                <a href=""><li>{% include 'icon-user.liquid' %} Sign In</li></a>
                <a href=""><li>{% include 'icon-favorites.liquid' %} Favorites</li></a>
                <a href=""><li>{% include 'icon-language.liquid' %} Language</li></a>
            </ul>
        </div>
        <div class="search">
            {% include 'icon-search.liquid' %}
        </div>
	</div>
</section>
