<section class="collections-home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 collections-item">
               <a href="#">
                    <img src="https://via.placeholder.com/270x400" width="100%" height="auto" alt="Caps">
                    <div class="item-info">
                        <span>
                            {% include 'icon-arrow-top.liquid' %} Caps
                        </span>
                    </div>
               </a>
            </div>
            <div class="col-md-3 collections-item">
                <img src="https://via.placeholder.com/270x400" width="100%" height="auto" alt="Caps">
                <div class="item-info">
                    <span>
                        {% include 'icon-arrow-top.liquid' %} Caps
                    </span>
                </div>
            </div>
            <div class="col-md-3 collections-item">
                <img src="https://via.placeholder.com/270x400" width="100%" height="auto" alt="Caps">
                <div class="item-info">
                    <span>
                        {% include 'icon-arrow-top.liquid' %} Caps
                    </span>
                </div>
            </div>
            <div class="col-md-3 collections-item">
                <img src="https://via.placeholder.com/270x400" width="100%" height="auto" alt="Caps">
                <div class="item-info">
                    <span>
                        {% include 'icon-arrow-top.liquid' %} Caps
                    </span>
                </div>
            </div>
            <div class="col-md-3 collections-item">
                <img src="https://via.placeholder.com/270x400" width="100%" height="auto" alt="Caps">
                <div class="item-info">
                    <span>
                        {% include 'icon-arrow-top.liquid' %} Caps
                    </span>
                </div>
            </div>
            <div class="col-md-3 collections-item">
                <img src="https://via.placeholder.com/270x400" width="100%" height="auto" alt="Caps">
                <div class="item-info">
                    <span>
                        {% include 'icon-arrow-top.liquid' %} Caps
                    </span>
                </div>
            </div>
            <div class="col-md-3 collections-item">
                <img src="https://via.placeholder.com/270x400" width="100%" height="auto" alt="Caps">
                <div class="item-info">
                    <span>
                        {% include 'icon-arrow-top.liquid' %} Caps
                    </span>
                </div>
            </div>
            <div class="col-md-3 collections-item">
                <img src="https://via.placeholder.com/270x400" width="100%" height="auto" alt="Caps">
                <div class="item-info">
                    <span>
                        {% include 'icon-arrow-top.liquid' %} Caps
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Collections Home",
    "settings": [],
    "presets": [
        {
            "category": "Block",
            "name":"Collections Home"
        }
    ]
}
{% endschema %}