<footer>
   <div class="container">
       <div class="row justify-content-between align-items-center row-1">
        <div class="col-md-3 image-brand">
            <img src="{{ 'hop-studio.png' | asset_url }}" width="144px" alt="" />
            {% include 'icon-points.liquid' %}
        </div>
        <div class="col-md-5 d-flex justify-content-between align-items-center">
            <img src="{{ 'footer-1.png' | asset_url }}" width="84px" height="auto" alt="">
            <img src="{{ 'footer-2.png' | asset_url }}" width="100px" height="auto" alt="">
            <img src="{{ 'footer-3.png' | asset_url }}" width="176px" height="auto" alt="">
        </div>
        <hr>
       </div>
       <div class="row justify-content-between align-items-center mt-5">
            <div class="col-md-9 d-flex">
                <ul class="menu-links">
                    <li><a href="#">Home {% include 'icon-arrow-top.liquid' %}</a></li>
                    <li><a href="#">% Sale {% include 'icon-arrow-top.liquid' %}</a></li>
                    <li><a href="#">Lookbook {% include 'icon-arrow-top.liquid' %}</a></li>
                    <li><a href="#">Order a Call {% include 'icon-arrow-top.liquid' %}</a></li>
                </ul>
                <ul class="collections-links">
                    <h4><a href="#">Catalogue {% include 'icon-arrow-top.liquid' %}</a></h4>
                    <li><a href="#">Caps</a></li>
                    <li><a href="#">T-Shirts</a></li>
                    <li><a href="#">Joggers</a></li>
                    <li><a href="#">Hoodies & Pullovers</a></li>
                    <li><a href="#">Accesories</a></li>
                    <li><a href="#">Others...</a></li>
                </ul>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
                <ul class="others-links">
                    <li><a href="#">{% include 'icon-user.liquid' %} Sign In</a></li>
                    <li><a href="#">{% include 'icon-cart.liquid' %} Bag (0)</a></li>
                    <li><a href="#">{% include 'icon-favorites.liquid' %} Favorites</a></li>
                    <li><a href="#">{% include 'icon-language.liquid' %} Language</a></li>
                </ul>
            </div>
       </div>
       <div class="row justify-content-between mt-5 pt-5 copyright">
        <div class="col-md-6">
            <small><a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a></small>
        </div>
        <div class="col-md-6 text-end">
            <small>© 2022 Hop Style . All Rights Reserved</small>
        </div>
       </div>
   </div>
</footer>


{% schema %}
{
    "name": "Footer",
    "settings": [],
    "presets": [
        {
            "category": "Footer",
            "name":"Footer"
        }
    ]
}
{% endschema %}