<!--go cart drawer-->
<div class="go-cart__drawer js-go-cart-drawer">

    <div class="go-cart-drawer">

        <!--go cart drawer close-->
        <div class="go-cart-drawer__header">
            <div class="go-cart-drawer__close js-go-cart-drawer-close">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="20" height="20" viewBox="0 0 20 20">
                    <path d="M15.89 14.696l-4.734-4.734 4.717-4.717c.4-.4.37-1.085-.03-1.485s-1.085-.43-1.485-.03L9.641 8.447 4.97 3.776c-.4-.4-1.085-.37-1.485.03s-.43 1.085-.03 1.485l4.671 4.671-4.688 4.688c-.4.4-.37 1.085.03 1.485s1.085.43 1.485.03l4.688-4.687 4.734 4.734c.4.4 1.085.37 1.485-.03s.43-1.085.03-1.485z"></path>
                </svg>
            </div>
            <div class="content-header-cart">
                <h2>CART</h2>
            </div>
            <div>
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="48" height="48" rx="24" fill="white"/>
                    <path d="M32.2201 18.6899C32.0701 16.6199 30.3801 15 28.3801 15H19.61C17.61 15 15.92 16.6199 15.77 18.6899L15.0401 28.7C14.9601 29.84 15.35 30.96 16.11 31.78C16.84 32.57 17.8201 33 18.8801 33H29.11C30.16 33 31.1501 32.57 31.8801 31.78C32.6401 30.96 33.0301 29.84 32.9501 28.7L32.2201 18.6899ZM30.4201 30.41C30.0701 30.79 29.61 30.99 29.11 30.99H18.8801C18.3901 30.99 17.92 30.78 17.58 30.41C17.19 29.99 17.0001 29.42 17.0401 28.84L17.77 18.83C17.85 17.8 18.66 16.99 19.61 16.99H28.3801C29.3401 16.99 30.1501 17.8 30.2201 18.83L30.9501 28.84C30.9901 29.42 30.8001 30 30.4101 30.41H30.4201Z" fill="#111111"/>
                    <path d="M27 18C26.45 18 26 18.45 26 19C26 20.1 25.1 21 24 21C22.9 21 22 20.1 22 19C22 18.45 21.55 18 21 18C20.45 18 20 18.45 20 19C20 21.21 21.79 23 24 23C26.21 23 28 21.21 28 19C28 18.45 27.55 18 27 18Z" fill="#111111"/>
                </svg>    
            </div>
           
        </div>
        <!--end go cart drawer close-->

        <!--go cart drawer content-->
        <div class="go-cart-drawer__content js-go-cart-drawer-content"></div>
        <!--end go cart drawer content-->

        <!--go cart drawer subtotal-->
        <div class="go-cart-drawer__subtotal">
            <span>Subtotal: </span>
            <span class="go-cart-drawer__subtotal-price js-go-cart-drawer-subtotal"></span>
        </div>
        <!--end go cart drawer subtotal-->
        <!-- <div class="content-shipping-text">
            <p>Shipping, taxes, and discounts calculated at checkout.</p>
        </div> -->
        <!--go cart drawer buttons-->
        <div class="go-cart-drawer__footer js-go-cart-drawer-footer">

            <a href="/checkout/" class="go-cart__button">
                Checkout
            </a>

        </div>
        <!--end go cart drawer buttons-->

    </div>

</div>
<!--end go cart drawer-->

<!--go cart overlay-->
<div class="go-cart__overlay js-go-cart-overlay">
</div>
<!--end go cart overlay-->