<header>
	<nav class="container-fluid nav">
		<div class="row w-100 align-items-center">
			<div class="col-md-3 text-center nav__item">
				<div class="logo">
					<img src="{{ 'hop-studio.png' | asset_url }}" alt="" />
					{% include 'icon-points.liquid' %}
				</div>
			</div>
			<div
				class="col-md-6 d-flex align-items-center justify-content-between nav__item"
			>
				<div class="__links">
					<ul>
						<li><a href="">Home</a></li>
						<li><a href="">%Sale</a></li>
						<li><a href="">Catalogue</a></li>
						<li><a href="">Lookbook</a></li>
					</ul>
				</div>
				<div class="__links">
					<ul>
						<li>
							<a href=""> {% include 'icon-language.liquid' %} </a>
						</li>
						<li>
							<a href=""> {% include 'icon-search.liquid' %} </a>
						</li>
						<li>
							<a href=""> {% include 'icon-favorites.liquid' %} </a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-2 text-center nav__item">
				<span> {% include 'icon-cart.liquid' %} Bag(0) </span>
			</div>
			<div class="col-md-1 text-center nav__item">
				{% include 'icon-user.liquid' %}
			</div>
		</div>
	</nav>
</header>
