<header>
	<nav class="d-flex justify-content-between align-items-center d-md-none mobile-nav">
		<div class="hamburger">{% include 'icon-hamburger.liquid' %}</div>
		<div class="pe-2">
			<a href="/"
				><img
					src="{{ section.settings.brand | img_url: 'medium' }}"
					width="120"
					alt="Hop Style"
			/></a>
		</div>
		<div class="px-4 cart gocart-button-mobile">
			{% include 'icon-cart-mobile.liquid' %} <span class="gocart-button-mobile-span"></span>
		</div>
		{% include 'sidebar-menu.liquid' %}
	</nav>
	<nav class="container-fluid nav d-none d-md-flex">
		<div class="row w-100 align-items-center">
			<div class="col-md-3 text-center nav__item">
				<div class="logo">
					<a href="/"
						><img
							src="{{ section.settings.brand | img_url: 'medium' }}"
							alt="Hop Style"
					/></a>
					<a href="">{% include 'icon-points.liquid' %}</a>
				</div>
			</div>
			<div
				class="col-md-6 d-flex align-items-center justify-content-between nav__item"
			>
				<div class="__links">
					{% include 'site-nav', linklist: section.settings.menu_links %}
				</div>
				<div class="__links icons">
					<ul>
						<li class="language-icon">
							<span>{% include 'icon-language.liquid' %}</span>
							<div class="dropdown-selector">
								{% form 'currency' %}
									{{ form | currency_selector }}
								{% endform %}
							</div>
						</li>
						<li>
							<div class="open-search">
								{% include 'icon-search.liquid' %}
							</div>
						</li>
						<li>
							<a href="/pages/mywishlist"> {% include 'icon-favorites.liquid' %} </a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-2 text-center nav__item">
				<span>
					{%- include "go-cart-button" -%}
				</span>
			</div>
			<div class="col-md-1 text-center nav__item">
				<span style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#userModal">{% include 'icon-user.liquid' %}</span>
			</div>
		</div>
	</nav>
</header>

{% schema %}
{
	"name": "Header",
	"settings": [
		{
			"type": "image_picker",
			"id": "brand",
			"label": "label"
		},
		{
			"type": "link_list",
			"id": "menu_links",
			"label": "label"
		}
	],
	"presets": [
		{
			"category": "header",
			"name":"Header"
		}
	]
}
{% endschema %}
