<section class="products-slide-section">
	<div class="container">
		<div class="row arrows mb-4">
			<div class="col-12 d-flex justify-content-between align-items-center">
				<h2>new in stock</h2>
				<ul class="m-0 p-o d-flex">
					<li class="prev">{% include 'icon-arrow-left.liquid' %} </li>
					<li class="next">{% include 'icon-arrow-right.liquid' %}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid h-100">
		<div class="row h-100 align-items-center">
			<div class="col-12">
				<div class="slider-products-home">
					<div>
						<img src="https://via.placeholder.com/481x500" alt="" />
					</div>
					<div>
						<img src="https://via.placeholder.com/481x500" alt="" />
					</div>
					<div>
						<img src="https://via.placeholder.com/481x500" alt="" />
					</div>
					<div>
						<img src="https://via.placeholder.com/481x500" alt="" />
					</div>
					<div>
						<img src="https://via.placeholder.com/481x500" alt="" />
					</div>
					<div>
						<img src="https://via.placeholder.com/481x500" alt="" />
					</div>
					<div>
						<img src="https://via.placeholder.com/481x500" alt="" />
					</div>
					<div>
						<img src="https://via.placeholder.com/481x500" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


{% schema %} 
{ 
    "name": "Products Slide Home",
    "settings": [],
    "presets": [
        {
            "category": "Block",
            "name":"Products Slide Home"
        }
    ]
}
    
{% endschema %}