{{ "style-product-template.scss.css" | asset_url | stylesheet_tag }}

{% include 'product-template-desktop.liquid' product: product %}

<div class="d-md-none">
	{% include 'product-template-mobile.liquid' product: product %}
</div>
